.Select {
  display: flex;
  border-radius: 10px;
  background-color: rgba(3, 41, 61, 0.05);
  width: 172px;
  height: 32px;
  padding: 7px 12px;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 24px;
}
